.home {
	font-size: 1.3rem;
	line-height: 4rem;
}

.title {
	position: relative;
	color: black;
	margin-top: 18rem;
	margin-left: 5%;
	z-index: 0;
}

.title span {
	color: orange;
}

.picture {
	position: absolute;
	top: -2rem;
	right: 8%;
	z-index: -2;
}

.orange {
	width: 19rem;
	height: auto;
}

.bee {
	position: absolute;
	right: 1rem;
}

.picture__bee {
	width: 10rem;
	height: auto;
}

@media screen and (max-width: 1080px) {
	.home {
		font-size: 1.03rem;
	}

	.orange {
		width: 15rem;
	}

	.bee {
		top: 23rem;
		right: 1%;
	}

	.picture__bee {
		width: 7rem;
	}
}

@media screen and (max-width: 880px) {
	.home {
		font-size: 1rem;
	}

	.title {
		text-align: center;
		margin-top: 15%;
		margin-left: 0;
	}

	.picture {
		position: relative;
		margin-top: 5rem;
		right: 0;
	}

	.bee {
		position: relative;
		top: 5rem;
	}
}

@media screen and (max-width: 650px) {
	.home {
		line-height: 3rem;
	}

	.title {
		margin-top: 30%;
		align-items: center;
		padding: 0.5rem;
	}

	.orange {
		width: 11rem;
	}

	.picture {
		margin-top: 5rem;
	}

	.picture__bee {
		max-width: 20%;
	}

	.bee {
		top: 10rem;
	}
}

@media screen and (max-width: 415px) {
	.home {
		font-size: 0.8rem;
	}

	.title {
		margin-top: 40%;
	}

	.picture {
		margin-top: 7rem;
	}

}

@media screen and (max-width: 321px) {
	.title {
		margin-top: 35%;
	}

	.orange {
		width: 8rem;
	}

	.picture {
		margin-top: 3rem;
	}

	.bee {
		top: 12rem;
	}
}
